body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./leopard.jpg");
    background-position: center; /* centra la imagen */
    background-repeat: repeat;
}